.container {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding: 0;
}

li {
  align-items: center;
  margin-bottom: 5px;
}

li span.track-name {
  font-weight: bold;
  font-size: 1.2em;
}

li a {
  color: #4e6bff;
  text-decoration: none;
}

li strong {
  margin-right: 8px;
}

li span {
  font-weight: bold;
}

div {
  padding-bottom: 20px;
}
