  .container {
    display: flex;
    justify-content: center;
  }

  ol li ul {
    margin-left: 0; /* remove default margin */
    padding-left: 20px; /* add padding to create space between main list and sub items */
  }

  ul {
    list-style-type: none;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  li {
    align-items: center;
    margin-bottom: 5px;
  }
  
  li strong {
    margin-right: 8px;
  }
  
  li span {
    font-weight: bold;
  }

  div {
    padding-bottom: 20px;
  }
  